/*
  Conference schedule grid code was inspired by https://css-tricks.com/building-a-conference-schedule-with-css-grid/
*/

@media screen and (min-width: 1020px) {
    .schedule {
        display: grid;
        grid-row-gap: 0;
        grid-column-gap: 9px;
        grid-template-rows:
          [time-0930] auto
          [session-0930] auto
          [legend] auto
          [time-0945] auto
          [tracks] auto
          [session-0945] auto
          [time-1030] auto
          [session-1030] auto
          [time-1040] auto
          [session-1040] auto
          [time-1125] auto
          [session-1125] auto
          [time-1135] auto
          [session-1135] auto
          [time-1220] auto
          [session-1220] auto
          [time-1320] auto
          [session-1320] auto
          [time-1420] auto
          [session-1420] auto
          [time-1430] auto
          [session-1430] auto
          [time-1600] auto
          [session-1600] auto
          [time-1610] auto
          [session-1610] auto
          [time-1640] auto
          [session-1640] auto;
        grid-template-columns:
          [track-1] 1fr
          [track-2] 1fr
          [track-3] 1fr
          [track-4] 1fr
          [track-5] 1fr;
    }

    .time-slot {
        grid-column: track-1 / track-5-end;
    }

    .session-all-tracks {
        grid-column: track-1 / track-5-end;
    }

    .legend {
        grid-row: legend;
        grid-column: track-1 / track-5-end;
    }
}

.track-slot {
    display: none; /* only visible with Grid layout */
}

@supports ( display:grid ) {
    @media screen and (min-width: 1020px) {
        .track-slot {
            grid-row: tracks;
            display: block;
            position: sticky;
            top: 0;
            z-index: 1000;
            background-color: rgba(255, 255, 255, .9);
        }

    }
}

/* Visual styles */

html {
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 500;
}

body {
    line-height: 1.15;
    color: #212529;
    background-color: white;
}

a,
a:hover,
a:visited,
a:active {
    color: #4f4f4f;
    text-decoration: underline;
}

/* Header */

header {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    height: 98px;
    margin: 0 0 220px 0;
    display: flex;
    align-items: center;
}

.header-wrap {
    padding: 0 24px;
    max-width: 1600px;
    flex-grow: 1;
    margin: 0 auto;
}

header img {
    height: 29px;
}

/* Main */

main {
    padding: 0px 24px;
    max-width: 1600px;
    margin: 0 auto;
}

.title {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 140px;
}

/* Footer */

footer {
    height: 98px;
    margin: 64px 0 0 0;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 13px;
    background-color: #000000;
}

.footer-wrap {
    padding: 0px 24px;
    max-width: 1600px;
    flex-grow: 1;
    margin: 0 auto;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-wrap a {
    color: #ffffff;
    text-decoration: none;
}

.footer-info a {
    margin-left: 40px;
}

/* Sessions across all tracks */

.session-all-tracks {
    margin: 0 0 40px 10px;
}

.session-all-tracks .session-title,
.session-all-tracks .session-link {
    display: block;
    margin: 0 0 8px 0;
}

.session-all-tracks .session-title {
    font-size: 40px;
    font-weight: bold;
}

.session-all-tracks .session-link {
    font-size: 20px;
}

/* Legend */

.legend {
    margin: 0 0 36px 10px;
}

.legend .legend-title,
.legend .legend-line {
    display: block;
    margin: 0;
    color: #4f4f4f;
}

.legend .legend-title {
    font-weight: 500;
    margin-bottom: 16px;
}

.legend .legend-line {
    margin-bottom: 12px;
}

.legend .legend-line img {
    margin-right: 8px;
}

/* Sessions per track */

.session {
    border-top: solid 2px #4f4f4f;
    padding: 24px 24px 8px 24px;
    margin: 16px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

div.session:nth-of-type(6n+1) {
    border-bottom: solid 2px #4f4f4f;
    margin: 16px 0px 24px 0px;
    padding: 24px;
}

@supports ( display:grid ) {
    @media screen and (min-width: 1020px) {
        .session {
            border-bottom: solid 2px #4f4f4f;
            margin: 16px 0px 24px 0px;
            padding: 24px;
        }
    }
}

.session .session-title,
.session .session-header,
.session .session-time,
.session .session-star,
.session .session-link,
.session .session-presenter {
    display: block;
    margin: 0;
}

.session .session-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #4f4f4f;
    margin-bottom: 16px;
}

.session .session-star img {
    vertical-align: top;
}

.session .session-title {
    font-size: 16px;
    margin-bottom: 48px;
    line-height: 1.5;
    flex-grow: 1;
    cursor: pointer;
}

.session .session-abstract {
    display: none;
}

.session .session-presenter {
    font-size: 14px;
    margin-bottom: 16px;
    color: #4f4f4f;
}

.session .session-link {
    font-size: 14px;
}

/* Times */

.time-slot {
    margin: 0 0 8px 10px;
    font-size: 24px;
    color: #CC0000;
    font-weight: 500;
}

/* Track headings */

.track-slot {
    margin: 0 0 8px 10px;
    font-weight: bold;
    font-size: 40px;
    color: #cc0000;
}

/* Session modal */

.session-modal {
    position: fixed;
    background-color: rgba(79, 79, 79, 0.5);
    padding-top: 20vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    display: none;
}

@media screen and (max-width: 1020px) {
    .session-modal {
        padding-top: 0;
    }
}

.session-modal .modal-wrap {
    position: relative;
    margin: 2.5% auto;
    bottom: auto;
    width: 95%;
}

.session-modal .modal-wrap .modal-content {
    padding: 24px;
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 700px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.3px #fefefe;
}

.session-modal .modal-wrap .modal-content .session-header,
.session-modal .modal-wrap .modal-content .session-time,
.session-modal .modal-wrap .modal-content .session-star,
.session-modal .modal-wrap .modal-content .session-title,
.session-modal .modal-wrap .modal-content .session-abstract,
.session-modal .modal-wrap .modal-content .session-presenter,
.session-modal .modal-wrap .modal-content .session-footer,
.session-modal .modal-wrap .modal-content .session-close,
.session-modal .modal-wrap .modal-content .session-link {
    display: block;
    margin: 0;
}

.session-modal .modal-wrap .modal-content .session-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #4f4f4f;
    margin-bottom: 16px;
}

.session-modal .modal-wrap .modal-content .session-header .session-star img {
    vertical-align: top;
}

.session-modal .modal-wrap .modal-content .session-title {
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 1.5;
    flex-grow: 1;
}

.session-modal .modal-wrap .modal-content .session-abstract {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.5;
}

.session-modal .modal-wrap .modal-content .session-presenter {
    margin-bottom: 48px;
    font-size: 14px;
    color: #4f4f4f;
}

.session-modal .modal-wrap .modal-content .session-footer {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.session-modal .modal-wrap .modal-content .session-footer .session-close {
    padding: 12px 24px;
    margin-right: 24px;
    border-radius: 3px;
    background-color: #000000;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

.session-modal .modal-wrap .modal-content .session-footer .session-link a {
    padding: 12px 24px;
    border-radius: 3px;
    background-color: #cc0000;
    transition: 0.3s;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}
