/*
  Conference schedule grid code was inspired by https://css-tricks.com/building-a-conference-schedule-with-css-grid/
*/

@media screen and (min-width: 700px) {
    .schedule {
        display: grid;
        grid-row-gap: 1em;
        grid-column-gap: 0.5em;
        grid-template-rows:
          [tracks] auto
          [time-0930] auto
          [time-0945] auto
          [time-1030] auto
          [time-1040] auto
          [time-1600] auto
          [time-1610] auto
          [time-1640] auto;
        grid-template-columns:
          [times] 6em
          [track-1] 1fr
          [track-2] 1fr
          [track-3] 1fr
          [track-4] 1fr
          [track-5] 1fr;
    }

    .time-slot {
        grid-column: times;
    }

    .track-all {
        grid-column: track-1 / track-5-end;
    }
}

.track-slot {
    display: none; /* only visible with Grid layout */
}

@supports ( display:grid ) {
    @media screen and (min-width: 700px) {
        .track-slot {
            grid-row: tracks;
            display: block;
            position: sticky;
            top: 0;
            z-index: 1000;
            background-color: rgba(255, 255, 255, .9);
        }
    }
}

/* Small-screen & fallback styles */
.session {
    margin-bottom:  1em;
}

@supports( display:grid ) {
    @media screen and (min-width: 700px) {
        .session {
            margin: 0;
        }
    }
}

body {
    padding: 50px;
    max-width: 1100px;
    margin: 0 auto;
    line-height: 1.5;
}

.session {
    padding: 1em;
    font-size: 14px;
    border: 1px solid #cccccc;
}

.session.track-all {
    padding: 0;
}

.session-title,
.session-time,
.session-track,
.session-link,
.session-presenter {
    display: block;
}

@supports( display:grid ) {
    @media screen and (min-width: 700px) {
        .session-track {
            display: none;
        }
    }
}

.session-title,
.time-slot {
    margin: 0;
    font-size: 1em;
}

.session-title {
    margin-bottom: 2em;
}

.session-time {
    color: #4f4f4f;
}

.session-title a {
    color: #000000;
    text-decoration: none;
}

.track-all .session-title {
    font-size: 2em;
    margin-bottom: 0;
}

.track-slot {
    font-weight: bold;
    font-size:1.5em;
    text-align: center;
}

.time-slot {
    font-weight: bold;
    font-size:1em;
    color: #CC0000;
}

.track-all {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    border: none;
}

hr {
    margin: 40px 0;
}
